@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

$grey-color: #505050;


@font-face {
    font-family: 'pangolin';
    src: url('~@/assets/Pangolin-Regular.ttf') format('ttf');
}



a {
    color: $grey-color !important;
    display: block;
}

a:hover {
    text-decoration: none;
    cursor: url('~@/assets/navigation/curseur/main_curseur.png'), pointer; 
}

.application {
    cursor: url('~@/assets/navigation/curseur/fleche_curseur.png'), default;
      

}



.logo {
    margin-top: 6vh;
    margin-left:1vw;
    @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-left: right;
    }



    img {
        height: 5vh;
    }
}

.bg_text {
    background-image: url('~@/assets/navigation/calque_deterioration/calque_deterioration.png');
    position: absolute;
    z-index: 10;

    display: block;
    width: 100%;

    opacity: 0.8;
}

.grad {
    position:absolute;
    right: 12.5vw;
    top: -3vh;
}