@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

$grey-color: #505050;


// @font-face {
//     font-family: 'pangolin';
//     src: url('~@/assets/font/Pangolin-Regular.ttf') format('ttf');
// }

@font-face {
    font-family: 'Pangolin';
    src: url('~@/assets/font/Pangolin-Regular.eot');
    src: url('~@/assets/font/Pangolin-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/font/Pangolin-Regular.woff2') format('woff2'),
        url('~@/assets/font/Pangolin-Regular.woff') format('woff'),
        url('~@/assets/font/Pangolin-Regular.ttf') format('truetype'),
        url('~@/assets/font/Pangolin-Regular.svg#Pangolin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.container {
    @include media-breakpoint-up(lg) {
        max-width: 1660px !important;
    }
}

a {
    color: $grey-color !important;
    display: block;
}

a:hover {
    text-decoration: none;
    cursor: url('~@/assets/navigation/curseur/main_curseur.png'), pointer; 
}

.application {
    cursor: url('~@/assets/navigation/curseur/fleche_curseur.png'), default;
      

}



.logo {
    margin-top: 6vh;
    // margin-left:1vw;
    @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-left: right;
    }

    @include media-breakpoint-down(md) {
        margin-left:-5vw;

    }

    img {
        height: 5vh;
    }
}

.bg_text {
    background-image: url('~@/assets/navigation/calque_deterioration/calque_deterioration.png');
    position: absolute;
    z-index: 10;

    display: block;
    width: 100%;

    opacity: 0.8;
}

.grad {
    position:absolute;
    right: 12.5vw;
    top: -3vh;
}