@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

$grey-color: #505050;

@font-face {
    font-family: 'pangolin';
    src: url('~@/assets/Pangolin-Regular.ttf') format('ttf');
}

a {
    color: $grey-color !important;
}

a:hover {
    text-decoration: none;
}

.logo {
    margin-top: 6vh;
    margin-left: -7vw;

    @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-left: right;
    }

    img {
        height: 5vh;
    }
}

.bg_text {
    background-image: url('~@/assets/navigation/calque_deterioration/calque_deterioration.png');
    position: absolute;
    z-index: 10;

    display: block;
    width: 100%;

    opacity: 0.8;
}

.grad {
    position:absolute;
    top:-8vh;
    right: 16vw;
}